.split {
  height: 100%;
  width: 100%;
  margin-top: 1rem;
}

/* Control the left side */
.split_left {
  position: absolute;
  left: 0;
  width:25%;
  margin-left: 10px;
  color: white;
}

/* Control the right side */
.split_right {
  position: absolute;
  right: 0;
  width:65%;
  margin-right: 3rem;
}
.split_form{
  width: 100%;
  float: top;
  display: inline-block;

}
.split_table{
  width: 100%;
  float: bottom;
  display: inline-block;
}
table, th, td {
  border: 3px ridge darkgray;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 7px;
}